/* RESET - COMPORTAMENTO INICIAL */
*{ margin: 0; padding: 0; font-size: 100; font-family: 'Filha dos arquitetos', sans-serif; box-sizing:border-box; border:none; outline:none;}

img{max-width: 100%; background: linear-gradient(rgb(247, 182, 253) 50%, rgb(255, 255, 255) 75%); float: left;}
ul{list-style: none;}
a{text-decoration: none; background-color: black;}
h2{font-size: 1.5em;color: rgb(66, 66, 66);}
p{font-size: 1em;color: rgb(121, 121, 121);}
h1{font-size: 0mm; background-color: black;}

/* CABEÇALHO */
.cabecalho {width: 100%; float: left; background: linear-gradient(rgb(247, 182, 253) 50%, rgb(255, 255, 255) 75%); float: left;}
.logo a{width: 100px; height: 71px; background-color:  url(..img/logo2.png) no-repeat; font-size: 0;  padding: 0px 0px; float: left;}
.imagem{background-color: rgb(247, 182, 253);}
.cabecalho form{width: 15%; float: right;}
.cabecalho input[type="text"]{width: 85%; float: right; padding: 10px 5px; border-radius: 10px 0 0 10px; margin: 0px 0px;}
.cabecalho button{width: 15%; float: left; padding: 10px 10px; background-color: rgba(251, 247, 252); color: rgb(29, 29, 29); cursor: pointer; border-radius: 10 5px 5px 10; margin: 0px 0px;}
.cabecalho a{float: right; background-color: white; color: black; cursor: pointer;}
.cabecalho a:hover{ color: rgb(0, 0, 255);}

/* MENU */
.menu{width: 100%;float: left; background-color: rgb(247, 182, 253); padding: 10px 8%;}
.menu li{background-color: rgb(247, 182, 253);}
.menu li{float: left;}
.menu li a{background-color: rgb(247, 182, 253); color: rgb(8, 8, 8);margin: 25px;}
.menu li a{ background-color: rgb(247, 182, 253); color: rgb(8, 8, 8); margin: 25px;} 
.menu li a:hover{ color: hsl(244, 99%, 50%);}

/* ICONES DE REDES SOCIAIS */
.icones-redes-sociais{float: right; background-color: rgb(247, 182, 253);}
.icones-redes-sociais a{color: rgb(0, 0, 0); float: left; margin-left: 10px;}
.btn-facebook:hover{color: rgb(0, 17, 255);}
.btn-instagram:hover{color: rgb(184, 2, 138);}
.btn-google:hover{color: rgb(255, 0, 0);}

/* CORPO DO SITE - CONTEÚDO PRINCIPAL */
.corpo{width: 100%; float: left; padding: 20px 8%;}
.sobre{width: 70%; float: left; padding:0 20px 20px 0;}
.sobre h2{margin-bottom: 15px;}
.sobre img{width: 30%; float:right; margin: 0 25px 25px 0;}
.sobre p{text-align: justify;}

/* ASIDE - CONTEÚDOS RELACIONADOS */
.assuntos-relacionados{width: 20%; float: right; padding: 10px 20px; background-color: hsl(293, 85%, 87%);}
.assuntos-relacionados h2{margin: 10px; font-size: 1.1em;}
.assuntos-relacionados ol{padding: 20px;}
.assuntos-relacionados ol li {margin: 3px;}
.assuntoss-relacionados ol li:hover{color: rgb(255, 0, 0);}
.assuntos-relacionados a{color: rgb(0, 0, 0); text-decoration: none;}

/* FOOTER - RODAPÉ DO SITE */
.rodape{ width: 100%; float: left; background-color: rgb(222, 162, 230); padding: 20px 10%;}
.rodape p{color: rgb(0, 0, 0); background-color: rgb(222, 162, 230); float: center; text-align: center; margin: 35px 0px;}